.Contador {
    min-width: 300px;
    height: 150px;
    font-size: 80px;
    padding: 15px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    border:  8px solid white;
}